@use '../../../styles/_variables.scss' as *;

.modal-overlay {
  position: fixed;
  top: 0; left: 0; width: 100%; height: 100%;
  background: $background-overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal-content {
    background: white;
    padding: $space-lg;
    border-radius: $radius-md;
    text-align: center;
    box-shadow: 0 4px 15px $shadow-color;

    .close-button {
      margin-top: 10px;
      padding: 10px 20px;
      font-size: 16px;
      background-color: $primary;
      color: white;
      border: none;
      border-radius: $radius-sm;
      cursor: pointer;
    }
  }
}