<div class="game-container">
<div class="controls">
  <mat-form-field appearance="outline">
    <mat-label>Reaction Time (ms)</mat-label>
    <input matInput type="number" [(ngModel)]="nValue" [disabled]="isGameActive" [min]="inputMin" [step]="inputStep" [max]="inputMax">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="onStart()" [disabled]="isGameActive">
    START GAME
  </button>
</div>

  <app-score-panel></app-score-panel>

  <div class="grid">
    @for (status of grid$ | async; track $index) {
      <div 
        class="cell" 
        [ngClass]="status"
        (click)="cellClicked($index)">
      </div>
    }
  </div>
</div>
