<div class="game-container">
  <div class="controls">
    <div class="input-group">
      <label for="timeLimit">Time (ms):</label>
      <input type="number" id="timeLimit" [(ngModel)]="nValue" [disabled]="isGameActive">
    </div>
    <button class="start-button" [disabled]="isGameActive" (click)="onStart()">Start</button>
  </div>

  <app-score-panel></app-score-panel>

  <div class="grid">
    @for (status of grid$ | async; track $index) {
      <div 
        class="cell" 
        [ngClass]="status"
        (click)="cellClicked($index)">
      </div>
    }
  </div>
</div>

@if (winner) {
    <app-result-modal [winner]="winner" (closed)="closeModal()"></app-result-modal>
}
