@use './styles/_variables.scss' as *;

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $bg-color;
  color: $text-color;
  font-family: $font-stack;

}

* {
  box-sizing: border-box;
}

