@import '../../../styles/_variables.scss';

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: $space-md;

  .scoreboard {
    display: flex;
    justify-content: space-between;

  .score {
    font-weight: bold;
  }
}
}

